html{
	font-family: 'Lemonada', cursive;
}
a{
	text-decoration: none;
	color: #000C40;
}
.title{
	text-transform: uppercase;
}
.container{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content{
	max-width: 960px;
	max-height: 500px;
	width: 100%;
	height: 100%;
	background-color: white;
	}
.paragraph{
	line-height: 1.8em;
	font-weight: 300;
}	
.red{
	height: 200px;
	width: 100px;
	background-color: red;
}
#boton-pago{
	background-color: yellow;
}
td{
	border:solid 1px;
}
